<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign-in</title>
  <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>

<form action="/auth/signin" method="POST" class="auth-forms">

  <label for="username">Username</label>
      <input type="text" name="username" placeholder="Username" class="form-input username" id="username" required />

      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password" class="form-input" id="password" required />
      <button type="submit" class="form-btn">Sign in</button>
</body>
</html>
