<%- include ("../partials/header.ejs") %>

<h2>Update Password</h2>
<form
  action="/auth/<%= user._id %>?_method=PUT"
  method="POST"
  class="auth-forms"
>
  <label for="oldPassword">Old password</label>
  <input
    type="password"
    name="oldPassword"
    placeholder="Old Password"
    class="form-input"
    id="oldPassword"
    required
  />

  <label for="newPassword">New password</label>
  <input
    type="password"
    name="newPassword"
    placeholder="New Password"
    class="form-input"
    id="newPassword"
    required
  />

  <label for="confirmPassword">Confirm password</label>
  <input
    type="password"
    name="confirmPassword"
    placeholder="Confirm New Password"
    class="form-input"
    id="confirmPassword"
    required
  />
  <button type="submit" class="form-btn">Update</button>
</form>

<%- include ("../partials/footer.ejs")%>
