<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <% if(!user) { %>
        <a href="/auth/signin">Sign in</a>
        <a href="/auth/signup">Sign up</a>
        <% } else { %>
          <a href="/review/allReviews">All Reviews</a>
          <a href="/review/addReview">Add a Review</a>
          <a href="/user/<%= user._id %>">Profile</a>
          <a href="/auth/signout">Sign out</a>
          <% } %>
    </nav>

    <main>
