<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <% if(!user) { %>
        <a href="/auth/signin">Sign in</a>
        <a href="./signup.ejs">Sign up</a>

        <% } else { %>
        <!-- <a href=""> ---- </a> -->
         <!-- to be added -->
          <a href="/auth/signout">Sign out</a>
          <% } %>
    </nav>

    <main>
