* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}
nav {
  background-color: rgb(17, 49, 131);
  width: 100%;
  padding: 17px;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
}

a {
  text-decoration: none;
}

nav a {
  font-size: 17px;
  color: rgb(200, 200, 200);
}

#first-msg {
  margin-top: 23%;
  text-align: center;
  font-size: 35px;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.review-card {
  border-radius: 5px;
  width: 100%;
  height: 160px;
  margin: 15px auto;
  background-color: rgb(57, 57, 136);
  text-align: center;
  padding-top: 20px;
  color: rgb(230, 230, 230);
}

.view-btn {
  display: block;
  width: max-content;
  height: 20px;
  padding: 5px 20px;
  margin: 17px auto;
  border: none;
  background-color: rgb(66, 91, 150);
  border-radius: 5px;
  color: rgb(230, 230, 230);
}

h2,
h3 {
  text-align: center;
  margin-top: 70px;
}

form {
  text-align: center;
  margin-top: 20px;
}

.form-input {
  display: block;
  margin: 20px auto;
  width: 50%;
}

form input[type="text"],
form input[type="select"],
form input[type="number"],
form input[type="password"] {
  height: 40px;
  border-radius: 5px;
  padding: 3px;
}

.form-btn {
  display: block;
  width: max-content;
  height: 30px;
  padding: 5px 20px;
  margin: 17px auto;
  border: none;
  background-color: rgb(66, 91, 150);
  color: rgb(230, 230, 230);
  border-radius: 5px;
  cursor: pointer;
}

.auth-forms {
  border: black solid 2px;
  border-radius: 5px;
  width: 450px;
  margin: 2% auto;
  padding: 20px 0;
}

.specs {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}

.spec {
  margin: 20px;
}

.review {
  margin-top: 40px;
  text-align: center;
}

.review h3,
.review h4 {
  margin-bottom: 15px;
}

.review p {
  margin-bottom: 40px;
}

#edit {
  background-color: rgb(66, 91, 150);
  color: rgb(230, 230, 230);
}

#delete {
  background-color: rgb(143, 7, 7);
  color: rgb(230, 230, 230);
}
